.row {
	position: relative;

	&--gutters {
		margin-right: -65px;
	}

	&--gutters-large {
		margin-right: -100px;
	}

	&--gutters-small {
		margin-right: -45px;
	}

	&--gutters > div {
		padding-right: 65px;
	}

	&--gutters-large > div {
		padding-right: 100px;
	}

	&--gutters-small > div {
		padding-right: 45px;
	}

	&--t-padding {
		padding-top: 80px;
	}

	&__b-margin-until-medium {
		margin-bottom: 1rem;
	}

	@mixin atMedium {
		display: flex;

		&__b-margin-until-medium {
			margin: 0;
		}

		&__medium-4 {
			width: 33.33%;

			&--larger {
				width: 37%;
			}
		}

		&__medium-6 {
			width: 50%;
		}

		&__medium-8 {
			width: 66.66%;

			&--smaller {
				width: 63%;
			}
		}
	}

	@mixin atLarge {
		display: flex;

		&__b-margin-until-large {
			margin: 0;
		}

		&__large-4 {
			width: 33.33%;

			&--larger {
				width: 37%;
			}
		}

		&__large-6 {
			width: 50%;
		}

		&__large-8 {
			width: 66.66%;

			&--smaller {
				width: 63%;
			}
		}
	}

	&--equal-height-at-large {
		@mixin atLarge {
			display: flex;
		}

		& > div {
			display: flex;
		}
	}
}
